
.game {
    width: 600px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
}

#kangaroo {
    width: 50px;
    height: 36px;
    background-image: url(img/Kangaroo.png);
    background-size: 50px;
    position: relative;
    top: 164px;
    left: 30px;
}

.jump {
    animation: jump 300ms linear;
}

@keyframes jump {
    0% {
        top: 164px;
    }

    30% {
        top: 114px;
    }

    70% {
        top: 114px;
    }

    100% {
        top: 164px;
    }
}


#cactus {
    width: 20px;
    height: 40px;
    position: relative;
    top: 126px;
    left: 580px;
    
    background-image: url("img/Cactus.png");
    background-size: 20px 40px;

    animation: block 1s infinite linear;
}

@keyframes block {
    0% {
        left: 580px;
    }

    100% {
        left: -20px;
    }
}